// This is the "core" library for the KritterKompiler.
// It provides implimentations for __most__ of the KritterKode
// standard library, and that's about it.
//
// Basically just a collection of atoms from which more advanced functions can
// be extended/implemented.
//
// Cpyright Reid McKenzie, 2011

return_t() {
    #go +3;
}

return_f() {
    #go +1;
}

random($0) {
    #ifrandom $0;
}

empty($0, $1) {
    #ifempty $0 $1;
}

ally($0, $1) {
    #ifally $0 $1;
}

enemy($0, $1) {
    #ifenemy $0 $1;
}

wall($0, $1) {
    #ifwall $0 $1;
}

wall($0) {
    #ifwall $0 +3;
    #go +1;
}

angle($0, $1, $2) {
    #ifangle $0 $1 $2;
}

write($0, $1) {
    #write $0 $1;
}

add($0, $1) {
    #add $0 $1;
}

sub($0, $1) {
    #sub $0 $1;
}

inc($0) {
    #inc $0;
}

dec($0) {
    #dec $0;
}

lt($0, $1, $2) {
    #iflt $0 $1 $2;
}

eq($0, $1, $2) {
    #ifeq $0 $1 $2;
}

gt($0, $1, $2) {
    #ifgt $0 $1 $2;
}

go($0) {
    #go $0;
}
