// This file defines some more advanced functions which operate on the
// area surrounding the critter.

genericNear($0) {
    $0  0   %end;
    $0  45  %end;
    $0  90  %end;
    $0  135 %end;
    $0  180 %end;
    $0  215 %end;
    $0  270 %end;
    $0  315 %end;
    #go %false;
    @end;
    #go +3;
    @false;
}

nearEnemy() {
    genericNear(#ifenemy);
}

nearAlly() {
    genericNear(#ifally);
}

nearWall() {
    genericNear(#ifwall);
}

genericRotateTo($0) {
    $0 0 %end;
    $0 315 %right;
    $0 45  %left;
    $0 270 %right;
    $0 90  %left;
    $0 225  %right;
    $0 135  %left;
    #go %none;
    @right;
    right();
    #go %end;
    @left;
    left();
    #go %end;
    @none;
    #go +3;
    @end;
}

rotateToEnemy() {
    genericRotateTo(#ifenemy);
}
