// This file defines some functions which can perform more advanced math ops.
// than the actual Critter environment provides by default.

divide($0, $1, $2) {
    // $0 - the register to divide destructively
    // $1 - the number to divide by
    // $2 - the counter which will store the result
    @top;
    #sub $0 $1;
    #inc $2;
    #ifgt $0 $1 +2;
    #go %end;
    #go %top;
    @end;
}

multiply($0, $1, $2) {
    @top;
    #inc $2;
    #add $1 $2;
    #ifeq $2 $1 +2;
    #go %top;
    #go %end;
    @end;
}

log($0, $1, $2, $3, $4, $5) {
    // implements a logarithm of arbitrary base via the divide() function.
    //
    // $0 - the base of the log
    // $1 - the register to store it in
    // $2 - the number to take the log of
    // $3 - the register IT goes in.
    // $4 - a spare reg for the counter
    #set $1 $0;
    #set $3 $2;
    log($3, $1, $4, $5);
}

log($0, $1, $2, $3) {
    // $0 - a register with a log base
    // $1 - a register with a number to take the log of..
    // $2 - a register which will be the log number (integer of course)
    // $3 - a register which will be used for temp. storage
    #ifgt $0 $1 +2;
    #go %end;
    divide($1,$0, $3);
    #set $1 $3; // may not be legal...
    #inc $2;
    @end;
    // so now $2 is the return value. $0 is unchanged, $1 is going to be the
    // remainder, and $3 is junk.
}


